In [1]:
##  INSTALL CSVTOSQLITE USING COMMAND (pip install csv-to-sqlite) 

## AFTER INSTALLING RUN THIS COMMAND csv-to-sqlite -f records.csv -o recordsdb.sqlite (MAKE SURE TO RUN THIS COMMAND WHILE INSIDE OF THE WORKING DIRECTORY YOU WANT THE DB TO BE STORED)

import pandas as pd
import sqlite3
from sqlite3 import Error


## creating connection to DB
con = sqlite3.connect("anthony\records\recordsdb.sqlite")

## initializing cursor
mycur = con.cursor() 

## executing QUERY to display Emp, First, Middle, Last, Gender, Salary columns from the table of 26 columns
mycur.execute("SELECT Emp, First, Middle, Last, Gender, Salary FROM records")

## looping through entire table of selected columns and display the rows for that column
for row in mycur:
   print (row, "\n")

available_table=(mycur.fetchall())

OperationalError: no such table: records